<div id="patents_fancybox">
<div class="top_fancybox">
	<ul>
		<li>H<span style="font-size:15px;">onors</span></li>
		<li>P<span style="font-size:15px;">ublications</span></li>
		<li>P<span style="font-size:15px;">atents</span></li>				
	</ul>	
</div>	
<div class="patents_container">
<div class="patents_title">Patents</div>	
<ul>
	<li>Y. J. Lee, S. P. Chang, P. Luong, H. Shi, F. Lin, Y. L. Huang, “Non-Intrusive PSQM/PESQ Voice Quality Measurement,” US patent No. 7299176, Nov. 2007. </li>	
	<li>“A Wireless Access Point Security Scheme supporting Small-scaled Home Users,” Ambit Corp. Patent pending, April 2003. </li>	
	<li>S.P. Shieh, Y. L. Huang, F.S. Ho, "A Generic Payment Method Supporting Multiple Merchants and its Applications," ROC patent no. 87106480, Dec. 1999. </li>	
	<li>S.P. Shieh, Y. L. Huang, F.S. Ho, "Method and System for Online Transactions Involving Multiple Merchants," US patent pending, Nov. 1999. </li>	
	<li>S.P. Shieh, W.H. Yang, F.S. Ho, H.T. Cheng, Y. L. Huang, "An Authentication System for Computer Networks," ROC patent no. 079094, Jun. 1996.</li>					
</ul>
</div>	
</div>	