<div id="publications_fancybox">
<div class="top_fancybox">
	<ul>
		<li>H<span style="font-size:15px;">onors</span></li>
		<li>P<span style="font-size:15px;">ublications</span></li>
		<li>P<span style="font-size:15px;">atents</span></li>				
	</ul>	
</div>	
<div class="publications_container">
<div class="publications_title">Publications</div>
Journal Papers 	
<ul>
	<li>Y. L. Huang, Chih-Ya Shen, Shiuhpyng Shieh, "S-AKA: A Provable and Secure Authentication Key Agreement Protocol for UMTS Networks," submitted to IEEE Transactions on Vehicular Technology. </li>	
	<li>Y. L. Huang, P. H. Lu, J. D. Tygar, A. Joseph, “OSNP: Secure Wireless Authentication Protocol using One-Time Key,” Computers & Security, Vol. 28, Issue 8, November 2009, Page 803-815. </li>	
	<li>Y. L. Huang, Alvaro A. Cardenas, Saurabh Amin, Zong-Syun Lin, Hsin-Yi Tsai, Shankar Sastry, "Understanding the Physical and Economic Consequences of Attacks on Control Systems," International Journal of Critical Infrastructure Protection, Vol. 2, Issue 3, October 2009, Pages
73-83. </li>	
	<li>H. Y. Tsai, Y. L. Huang, D. Wagner, “A Graph Approach to Quantitative Analysis of Control Flow Obfuscating Transformations,” IEEE Transactions on Information Forensics and Security, Vol. 4, Issue 2, June 2009. </li>	
	<li>Y. L. Huang, J. S. Hu, “Hands-on Oriented Curriculum and Laboratory Development for Embedded System Design,”SIGBED Review, Vol. 6, No. 1, January 2009. </li>	
	<li>Y. L. Huang, S. P. Shieh, J. C. Wang, “Efficient Key Distribution Schemes for Secure Media Delivery in Pay-TV Systems,” IEEE Transactions on Multimedia, pp. 760-769, Vol. 6, Issue 5, Oct. 2004. </li>	
	<li>S. P. Shieh, Y. C. Tsai, Y. L. Huang, “Optimal Information Dispersal for Fault-Tolerant Wireless Communication,” IEEE Transactions on Reliability, pp. 354-366, Vol. 52, Issue 3, Sept. 2003. </li>
	<li> S.P. Shieh, Fu-Shen Ho, Y. L. Huang, and Jia-Ning Luo, “NETWORK ADDRESS TRANSLATORS: Effects on Security Protocols and Applications in the TCP/IP Stacks,” IEEE Internet Computing, pp. 42-49, Vol. 4, Number: 6, Nov/Dec. 2000. </li>
	<li>Y. L. Huang, S. P. Shieh, F. S. Ho, "A Generic Electronic Payment Model Supporting Multiple Merchant Transactions," Computers and Security, Vol. 19, No. 5, pp.453-465, 2000. </li>			
	<li>S. P. Shieh, F. S. Ho, Y. L. Huang, "An Efficient Authentication Protocol for Mobile Networks," Journal of Information Science and Engineering, Vol.15 No.4, pp.505-520, July 1999. </li>						
</ul>
Conference Papers 
<ul>
	<li>Alvaro Cardenas, Saurabh Amin, Zong-Syun Lin, Yu-Lun Huang, Chi-Yen Huang and Shankar Sastry, "Attacks Against Process Control Systems: Risk Assessment, Detection, and Response, ”accepted for publication by the 6th ACM Symposium on Information, Computer and Communications Security (ASIACCS 2011). </li>
	<li>B.T. Chen and Y.L. Huang, “The Design and Implementation of a Multi-core Supported Network Intrusion Detection System,”the 20th Cryptology and Information Security Conference (CISC 2010), Taiwan, 2010. </li>	
	<li>蔡欣宜、王繼偉、陳柏廷、黃育綸、謝續平, “基於虛擬裝置之無線網路安全測試平台,” the 20th Cryptology and Information Security Conference (CISC 2010), Taiwan, 2010. </li>	
	<li>Y. L. Huang, C. Y. Shen, Shiuhpyng Shieh, Hung-Jui Wang, Cheng-Chun Lin, "Provable Secure AKA Scheme with Reliable Key Delegation in UMTS," The 3rd IEEE International Conference on Secure Software Integration Reliability Improvement, Shanghai, China, July 8-10, 2009. </li>	
	<li>Z. S. Lin, A. Cardenas, H. Y. Tsai, S. Amin, Y. L. Huang and S. Sastry, “Understanding the Physical Consequences of Attacks on Control Systems,” Third Annual IFIP Working Group 11.10 International Conference on Critical Infrastructure Protection, Hanover, New Hampshire, USA, March 22 - 25, 2009 </li>	
	<li>Zong-Syun Lin, Alvaro Cardenas, Saurabh Amin, Hsinyi Tsai, Y. L. Huang and Shankar Sastry,“Security Analysis for Process Control Systems,”the 16th ACM Conference on Computer and Communications Security, 2009. </li>	
	<li>Y. L. Huang, J. D. Tygar, H. Y. Lin, L. Y. Yeh, H. Y. Tsai, K. Sklower, S. P. Shieh, C. C. Wu, P. H. Lu, S. Y. Chien, Z. S. Lin, L. W. Hsu, C. W. Hsu, C. T. Hsu, Y. C. Wu, M. S. Leong, “SWOON: A Testbed for Secure Wireless Overlay Networks,” USENIX Workshop on Cyber Security Experimentation and Test (CSET’08), San Jose, July 28, 2008. </li>
	<li>Y. L. Huang, J. S. Hu, “Design Methodology and Hands-on Practices for Embedded Operating Systems,” The 1st Asia-Pacific Workshop on Embedded System Education and Research (APESER 2007), Dec. 7, 2007.</li>	
	<li>Y. L. Huang, P. H. Lu, M. Newlin Rajkumar, C. T. Hsu, “Secure and Fast Authentication Protocol for Wireless Networks in Homecare Systems,” in the proceeding of 2007 CACS Automatic Control Conference, Nov. 9-10, 2007. </li>	
	<li>Y. L. Huang, E. C. Hsia, J. S. Hu, “The Design and Implementation of an Embedded Software Architecture for Intelligent Robots (ESAIR), ” in the procedding of International Conference on Open Source, Nov 1-4, 2007. </li>
	<li>Y. L. Huang, J. S. Hu, “The Curriculum and Teaching Laboratory for Embedded Systems,” 2007 Workshop on Embedded System Education, Oct. 4-5, Salzburg, Austria. </li>	
	<li>Y. L. Huang, M. Newlin Rajkumar, E. C. Hsia, “A Hybrid Network and Software Architecture for Digital Home Care Systems,” in the proceeding of 2006 CACS Automatic Control Conference, Nov. 10-11, 2006. </li>	
	<li>Zao, John K.; Hu, Jwu-Sheng; Chiou, Jin-Chern; Huang, Yu-Lun; Li, Shu-Chen; Kuo, Zee-Yih; Chuang, Ming-Chuen; Hsu, Shang-Hwa; Tseng, Yu-Chee; Liu, Jane W. S.; Lin, Chin-Teng;, “Kannon: Ubiquitous Sensor/Actuator Technologies for Elderly Living and Care: A Multidisciplinary Effort in National Chiao Tung University, Taiwan”, IEEE International Conference on Systems, Man and Cybernetics, 2006 (ICSMC '06), Volume 5, 8-11 Oct. 2006 Page(s):4297 – 4303. </li>
	<li>Y. L. Huang, F. S. Ho, H. Y. Tsai, H. M. Kao, “A Control Flow Obfuscation Method to Discourage Malicious Tampering of Software Codes,” in the proceedings of the ACM Symposium on Information, Computer and Communications Security (ASIACCS’06), March 21-24, 2006. </li>	
	<li>Y. L. Huang, F. S. Ho, E. C. Hsia, C. C. Tsao, “A Multi-Interface Control Infrastructure for Bio-Sensing Devices in Home Care Systems, " the 2005 CACS Automatic Control Conference, Nov. 17-19, 2005 </li>	
	<li>Y. L. Huang, J. S. Hu, “A Teaching Laboratory and Course Programs for Embedded Software Design”, the iCEER-2005 iNEER Conference for Engineering Education and Research, March 1-5. </li>			
	<li>F.S. Ho, S.P. Shieh, Y. L. Huang, K.L. Tsai, “A Service Probing and Channel Establishment Protocol across Multiple Network Address Translation Realms,” the Proceedings of 2002 International Computer Symposium, Dec. 18–21, 2002. </li>	
	<li>Y. L. Huang, S.P. Shieh, J.C. Wang, "Practical Key Distribution Schemes for Channel Protection," the 24th IEEE Computer Society International Computer Software and Applications Conference, Oct. 2000. </li>	
	<li>Y. L. Huang, S.P. Shieh, "A Fair Settlement Protocol for Online Transactions," the Proceedings of Information Security Conference, May 2000. </li>	
	<li>.P. Shieh, Y. L. Huang, F.S. Ho, "A Family of Secure Network Protocols," the Proceedings of Information Security Conference, May 1996. </li>										
</ul>
Articles
<ul>
<li>黃育綸、蔡欣宜、謝續平，「SWOON: 安全無線疊蓋觀測網路」，投稿至網路通訊國家型計畫辦公室簡訊。</li>	
<li>楊景程、黃育綸，「全數位嵌入式伺服運動控制架構應用」，機械工業雜誌 289期，2007年4月。</li>	
<li>鄭仁傑、黃育綸等，資通安全專輯之十八「數位智慧財產權管理」，財團法人國家實驗研究院科技政策研究與資訊中心，2005年6月。</li>	
<li>謝續平、黃育綸等，資通安全專輯之八「系統與網路安全」，行政院國家科學委員會科學技術資料中心，2003年12月。</li>	
<li>黃育綸，「糟了！網路電話被竊聽--談語音網路的安全機制」，網路通訊雜誌，2002年2月。 </li>		
</ul>
</div>	
</div>	