html, body{
	height:100%;
	padding: 0;
	margin: 0;
} 



/*=============title section==========*/
.title_section{
	background: rgba(246,188,174, 1);
	/*position: relative;*/
	height: 100%;
	min-height: 500px;
	min-width: 100%;
	font-family: Microsoft JhengHei, Arial, sans-serif;
	color: #FFFFFF;
}
.title_section img{

}
.title_section_NCTU{
	position: absolute;
	top: 50px;
	left: 17%;
	padding-left: 25px;
	padding-top: 10px;
	width: 330px;
	height: 200px;
	background: rgba(246,188,174, 1);
	z-index: 5;
	border: 4px solid #FFFFFF;
}
.title_section_NCTU_outter_first{
	position: absolute;
	top: 60px;
	left: 17.7%;
	width: 355px;
	height: 210px;
	background: rgba(246,188,174, 1);
  border: 4px solid #FFFFFF;	
	z-index: 4;	
}
.title_section_NCTU_outter_second{
  position: absolute;
  top: 70px;
  left: 18.4%;
  width: 355px;
  height: 210px;
  background: rgba(246,188,174, 1);
  border: 4px solid #FFFFFF;  
  z-index: 3; 
}
.title_section_NCTU_en{
	font-size: 2.8em;
	letter-spacing: 1px;
	font-family:Times New Roman;
  font-style: italic;   	
}
.title_section_NCTU_ch{
  margin-top: 5px;
	font-size: 17px;
	line-height: 24px;
	letter-spacing: 37px;

}
.title_section_YLH_ch{
	position: absolute;
	top: 330px;
  left: 17%;		
  width: 335px;
	padding-left: 40px;
	line-height: 45px;
	font-size: 18px;	
	background: rgba(246,188,174, 1);
  border: 4px solid #FFFFFF;
  z-index: 5;  		
}
.title_section_YLH_ch_outter{
  position: absolute;
  top: 340px;
  left: 17.5%;   
  width: 335px;
  padding-left: 40px;
  height: 45px;
  font-size: 18px;  
  background: rgba(246,188,174, 1);
  border: 4px solid #FFFFFF;  
  z-index: 4;  
}
.title_section_YLH_en{
	position: absolute;
  top: 430px;
	left: 17%;		
	width: 250px;
	line-height: 90px;
	font-size: 80px;	
	font-family:Times New Roman;	
  font-style: italic; 	
  visibility: hidden;  
}
.title_section_RTES_outter{
  position: absolute;
  top: 250px;
  left: 53%;    
  width: 250px;
  font-family:Times New Roman;  
  font-style: italic;   
}
.title_section_RTES{
  line-height: 90px; 
  font-size: 80px;  
  letter-spacing: 4px;
}
.title_section_ECE_top{

}
.title_section_ECE_bottom{

}
/*
.mouse{
	color: rgba(229, 196, 66, 0.9);
	position: absolute;
	bottom: 6%;
  left: 50%;		
	font-size: 60px;	
 	cursor: pointer;		
}
.mouse:hover{
	opacity: 0.8;
}
*/
.arrow-down{
	color: #ffffff;
	position: absolute;
	bottom: 2%;
  left: 50%; 	
	font-size: 40px;		
  cursor: pointer;    
}
.arrow-down{
  opacity: 0.8;  
}
/*=============about section==========*/
.me_section{
  height: 300px;
  min-width: 100%;    
}
.me_section div{
  height: 300px;
  min-width: 100%;   
}
/*=============about section==========*/
.about_section{
  color: rgba(246,188,174, 1);
  font-style: italic; 
  min-height: 900px;
  min-width: 100%;	
	font-family:Times New Roman;	
}
.about_title{	
  position: relative;   
	letter-spacing: 5px;
	font-size: 45px;
	width: 300px;
	top: 100px;		
  left: 28%;  
}
.about_description{	
  position: relative;    
	letter-spacing: 1px;	
	font-size: 20px;	
	line-height: 25px;
  left: 28%;  			
  top: 140px;   
	width: 800px;
	height: 270px;
	padding: 30px;
	font-style: italic;	
  z-index: 5;
  background: #ffffff;
  border: 5px solid rgba(246,188,174, 1);    
}
.about_description_outter{		
  position: relative;    
  left: 34%;           
  top: -100px;   		
	width: 830px;
	height: 280px;
  z-index: 1;	
  border: 5px solid rgba(246,188,174, 1);    
}

/*=============profile section==========*/
.profile_section{
	/*background: #CCFFCC;*/
  min-height: 900px;
  min-width: 100%;  
  font-family:Times New Roman;  
}	
.profile_title{ 
  position: relative;   
  letter-spacing: 5px;
  font-size: 55px;
  width: 300px;
  top: 100px;   
  left: 28%;  
}
.profile_description{ 
  position: relative;    
  letter-spacing: 1px;  
  font-size: 20px;  
  line-height: 25px;
  left: 28%;        
  top: 140px;   
  width: 350px;
  height: 270px;
  padding: 30px;
  background:  rgba(229, 196, 66, 0.9); 
  font-style: italic; 
  z-index: 5;
}
.profile_description_outter{    
  position: relative;    
  left: 34%;           
  top: -130px;       
  width: 380px;
  height: 310px;
  background:  rgba(229, 196, 66, 0.9);     
  z-index: 1; 
}
.profile_sub_left_title{

}
.profile_sub_left_content{
  font-size: 15px;
  line-height: 17px;  
  letter-spacing: 0px;    
}
.profile_right_1{
  text-align: center;
  position: relative;    
  left: 68%;           
  top: -500px;       
  width: 300px;
  height: 90px;
  background:  rgba(229, 196, 66, 0.9); 
  font-style: italic; 
}
.profile_right_2{
  text-align: center;
  position: relative;    
  left: 68%;           
  top: -450px;       
  width: 300px;
  height: 90px;
  background:  rgba(229, 196, 66, 0.9); 
  font-style: italic;   
}
.profile_right_3{
  text-align: center;
  position: relative;    
  left: 68%;           
  top: -400px;       
  width: 300px;
  height: 90px;
  background:  rgba(229, 196, 66, 0.9); 
  font-style: italic;   
}
.profile_right_title{
  text-decoration: none;
  color: black;
  font-size: 30px;
  line-height: 90px;
  letter-spacing: 2px;  
}

/*=============works section==========*/
.works_section{
	/*background: #66FFFF;*/
  min-height: 900px;
  min-width: 100%;  
  font-family:Times New Roman;  

}
.works_title{ 
  position: relative;   
  letter-spacing: 5px;
  font-size: 55px;
  width: 300px;
  top: 100px;   
  left: 28%;  
}
.works_description{ 
  position: relative;    
  letter-spacing: 1px;  
  font-size: 20px;  
  line-height: 25px;
  left: 28%;        
  top: 140px;   
  width: 650px;
  height: 270px;
  padding: 30px;
  background:  rgba(229, 196, 66, 0.9); 
  font-style: italic; 
  z-index: 5;
}

/*=============contact section==========*/
.contact_section{
	/*background: #5CE6E6;*/
  min-height: 1000px;
  min-width: 100%;  
  font-family:Times New Roman;  
}
.contact_title{ 
   position: relative;   
  letter-spacing: 5px;
  font-size: 55px;
  width: 300px;
  top: 100px;   
  left: 28%;  
}
.contact_description{ 
  position: relative;    
  letter-spacing: 1.5px;  
  font-size: 25px;  
  line-height: 25px;
  left: 28%;        
  top: 140px;   
  width: 430px;
  height: 210px;
  padding: 30px;
  background:  rgba(229, 196, 66, 0.9); 
  font-style: italic; 
  z-index: 5;
}
.contact_description_outter{    
  position: relative;    
  left: 32%;           
  top: -55px;       
  width: 480px;
  height: 240px;
  background:  rgba(229, 196, 66, 0.9);     
  z-index: 1; 
}
/*============= menu ==========*/
.menu {
  visibility: hidden;
	text-align: left;
	position: fixed;
	top: 5%;
	left: 17%;
	border:  6px solid rgba(246,188,174, 1);
	color: rgba(246,188,174, 1);
	z-index: 1000;
	font-family:Times New Roman;
  font-style: italic; 	
}
.menu ul{
	padding: 10px;
	list-style-type:none;
	margin: 0px;
}
.menu ul li{
	letter-spacing: 3px;
  line-height: 35px;
	border-bottom: 2px solid rgba(246,188,174, 1);
	cursor: pointer;
}
.menu ul li:hover{
  color: rgba(200,200,200, 1);	
}
.height_active{
  color: rgba(200,200,200, 1);	
}
